html{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 
    text-align: justify;
}

.expertise{
    text-align: center;
    border-style: double;
    color: chocolate;
    position: relative; left: 10%;

}

div{
    border-style: groove;
    padding: 3px;
    border-radius: 6%;
    color: brown;
    position: relative; right:2px;
}

a{
    color: red;
}

H1, h2{
    text-align: center;
}

ol, ul, p {
    position: relative; left: 10%;
}